Repository vvaezian/metabase_api_python: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: pretty-format-json
        types: [text]
        files: \.(json)$
        args:
          - --no-sort-keys
          - --autofix
          - --no-ensure-ascii
#      [--no-sort-keys --autofix]
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
    - id: nbstripout
- repo: https://github.com/hadialqattan/pycln
  rev: v2.1.2 # Possible releases: https://github.com/hadialqattan/pycln/releases
  hooks:
    - id: pycln
#      args: [--config=pyproject.toml]
- repo: https://github.com/PabloRMira/sql_formatter
  rev: 0.6.2
  hooks:
    - id: sql_formatter
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--rcfile=pylintrc",
        ]
- repo: local
  hooks:
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: ^scripts/
      types: [python]
      args:
        [
          "--config-file=mypy.ini",
          "--namespace-packages",
          "--explicit-package-bases",
        ]
      # print the number of files as a sanity-check
      verbose: true
      # check this out: https://stackoverflow.com/a/75447331
      exclude: "(docs/.*\\.py|sandbox/)"

Implements json traversal as strategy for migration and labels replacement
  metabase_api/migration/defs.py
  metabase_api/migration/migration_main.py
  metabase_api/objects/card.py
  metabase_api/objects/dashboard.py
  metabase_api/objects/defs.py
Due: pylint

languages are labels + numbers' options
  metabase_api/migration/migration_main.py
  metabase_api/objects/card.py
  metabase_api/objects/defs.py
  metabase_api/objects/visitors/__init__.py
  metabase_api/objects/visitors/defs.py
  metabase_api/resources/hospitals_config/chum/chum.json
  metabase_api/resources/hospitals_config/chum/chum_en.json
  metabase_api/resources/hospitals_config/chum/chum_fields.json
  metabase_api/resources/hospitals_config/numbers_en.json
  metabase_api/resources/hospitals_config/numbers_fr.json
  metabase_api/utility/number_options_json_schema.json
  metabase_api/utility/options.py
  metabase_api/utility/personalization_json_schema.json
  scripts/test_api/migration/main.py
Due: pylint, mypy

clean_labels is a static method
  metabase_api/objects/card.py
  metabase_api/objects/collection.py
  metabase_api/objects/dashboard.py
  metabase_api/objects/defs.py
Due: pylint

cleans up un-needed import
  metabase_api/objects/defs.py
Due: pylint

mypy'es utilities
  .pre-commit-config.yaml
  metabase_api/utility/db/columns.py
  metabase_api/utility/db/tables.py
  metabase_api/utility/options.py
Due: pylint

Install mypy 1.11.2 and mypy'es objects
  .pre-commit-config.yaml
  environment-dev.yml
Due: none

mypy'es object
  metabase_api/objects/card.py
  metabase_api/objects/collection.py
  metabase_api/objects/dashboard.py
  metabase_api/objects/defs.py
  metabase_api/objects/visitors/defs.py
Due: pylint

properly traverse dashboard(s)
  metabase_api/migration/defs.py
  metabase_api/migration/migration_main.py
  metabase_api/objects/card.py
  metabase_api/objects/collection.py
  metabase_api/objects/dashboard.py
  metabase_api/objects/defs.py
  metabase_api/objects/visitors/defs.py
Due: pylint

properly traverse collections
  metabase_api/objects/card.py
  metabase_api/objects/collection.py
  metabase_api/objects/dashboard.py
  metabase_api/objects/defs.py
Due: pylint

gives more focused feedback on labels-related tasks
  metabase_api/objects/defs.py
  metabase_api/objects/visitors/defs.py
Due: pylint

bugfix: properly traverse collections
  metabase_api/migration/migration_main.py
  metabase_api/objects/collection.py
  metabase_api/objects/dashboard.py
  metabase_api/objects/defs.py
  metabase_api/objects/visitors/defs.py
  metabase_api/resources/labels_en2fr.json
Due: pylint

new dictionary en->fr, based on 1.7.0
  metabase_api/resources/labels_en2fr.json
Due: none

some new items specified for translation -> FR
  metabase_api/resources/translation_user_defined_from_en.yml
Due: none

new dictionary en->fr, based on 1.7.0 + new specific terms
  metabase_api/resources/labels_en2fr.json
Due: none

provides more targetted feedback for 'labels replacer'
  metabase_api/objects/visitors/defs.py
Due: pylint

provides more targetted feedback for 'labels fetcher'
  metabase_api/objects/visitors/defs.py
Due: pylint

provides more targetted feedback for 'number formatter'
  metabase_api/objects/visitors/defs.py
Due: pylint

provides more targetted feedback for 'migrator'
  metabase_api/migration/defs.py
Due: pylint

CardParameters -> MigrationParameters
  metabase_api/migration/defs.py
  metabase_api/migration/migration_main.py
  metabase_api/objects/card.py
  metabase_api/objects/collection.py
  metabase_api/objects/dashboard.py
  metabase_api/objects/defs.py
Due: pylint

adds config to go from chum -> muhc
  metabase_api/resources/hospitals_config/muhc/fields_muhc_from_chum.json
Due: none

bugfix: replacement of a field in the SAME bd+table
  metabase_api/objects/defs.py
Due: pylint

label generation: caller-defined labels must always be there
  metabase_api/resources/labels_en2fr.json
  metabase_api/resources/translation_user_defined_from_en.yml
  metabase_api/utility/translation.py
  metabase_api/utility/util.py
  scripts/test_api/migration/generate_language_config.py
  tests/metabase_api/utility/test_util.py
Due: pylint, mypy

bugfix: for Collection: /api/collection
  metabase_api/objects/collection.py
Due: pylint

bugfix: migration of visualization settings
  metabase_api/migration/defs.py
  metabase_api/objects/card.py
Due: pylint

new set of labels en2fr
  metabase_api/resources/labels_en2fr.json
Due: none

offers the possibility of changing the dashboard name
  metabase_api/migration/migration_main.py
  metabase_api/objects/collection.py
Due: pylint

deletes some dead code
  metabase_api/objects/card.py
  metabase_api/objects/collection.py
Due: pylint

adds number formatting
  metabase_api/objects/defs.py
Due: pylint

Defines string representation of a card
  metabase_api/objects/card.py
Due: pylint

detects numbers in columns' formatting
  metabase_api/objects/visitors/defs.py
Due: pylint

TraverseStack now contains a list - and a title is available for each elt
  metabase_api/migration/defs.py
  metabase_api/objects/card.py
  metabase_api/objects/defs.py
  metabase_api/objects/visitors/defs.py
Due: pylint

'Procédures Capturées' -> 'Procédures capturées'
  metabase_api/resources/translation_user_defined_from_en.yml
Due: none

'Coût Total' -> 'Coût total'
  metabase_api/resources/translation_user_defined_from_en.yml
Due: none

French capitalization: only first word of sentence
  metabase_api/utility/translation.py
Due: pylint

Some changes for French translation
  metabase_api/resources/translation_user_defined_from_en.yml
Due: none

Some new terms for French translation (ct'd)
  metabase_api/resources/labels_en2fr.json
  metabase_api/resources/translation_user_defined_from_en.yml
Due: none

Enumerates cards in dashboard when traversing
  metabase_api/objects/dashboard.py
Due: pylint

Adds title to node type 'str' representation
  metabase_api/objects/defs.py
Due: pylint

Handles white-spaces when translating labels
  metabase_api/objects/visitors/defs.py
Due: pylint

github actions: Sunset mamba
  .github/workflows/github-pipeline.yml
Due: none
